.home-container{
  min-height: 100vh;
  width: 100%;
}

.table {
  overflow: auto;
  display: block;
  table-layout: auto;
}


.home-cards{
  max-width: 800px;
}

.button-wash-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

@media(max-width: 769px){
  .button-wash-container{
    padding: 16px;
  }

  .button-wash-container button{
    width: 100%;
  }
}
